<ion-fab vertical="bottom" horizontal="center" slot="fixed" class="animated fadeInDown">
  <ion-fab-button (click)="togglePopupMenu()">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="apps"></ion-icon>
  </ion-fab-button>
</ion-fab>

<div class="popup-menu">
  <div class="popup-menu-overlay" [ngClass]="{'in': openMenu}"></div>
  <div class="popup-menu-panel" [ngClass]="{'in': openMenu}">
    <div class="popup-menu-item">
      <ion-icon name="home" slot="middle" size="large"></ion-icon>
      <ion-button (click)="addCategory()">Rent + Car</ion-button>
     <!---<span>Rent + Car</span>-->
    </div>
    <div class="popup-menu-item">
      <ion-icon name="folder" slot="middle" size="large"></ion-icon>
      <ion-button (click)="addCategory()">Insurance</ion-button>
    </div>
    <div class="popup-menu-item">
      <ion-icon name="cart" slot="middle" size="large"></ion-icon>
      <ion-button (click)="addCategory()">Groceries</ion-button>
    </div>
    <div class="popup-menu-item">
      <ion-icon name="paw" slot="middle" size="large"></ion-icon>
      <ion-button (click)="addCategory()">Dog</ion-button>
    </div>
    <div class="popup-menu-item">
      <ion-icon name="medkit" slot="middle" size="large"></ion-icon>
      <ion-button (click)="addCategory()">Health</ion-button>
    </div>
    <div class="popup-menu-item">
      <ion-icon name="beer" slot="middle" size="large"></ion-icon>
      <ion-button (click)="addCategory()">Fun</ion-button>
    </div>
    <div class="popup-menu-item">
      <ion-icon name="apps" slot="middle" size="large"></ion-icon>
      <ion-button (click)="addCategory()">Other</ion-button>
    </div>
  </div>
</div>