<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <ion-text color="light"> 
        <ion-text color="light" class=fw700>Set Accounts</ion-text>
      </ion-text>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="goToHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-grid fixed no-padding>
    <ion-row>
      <ion-col size="12" padding>

        <ion-list>
          <ion-item detail="false" color="primary">
            <ion-icon name="apps-outline" slot="start"></ion-icon>
            <ion-label>Set a new Account</ion-label>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="stacked">Bank Name:</ion-label>
            <ion-input inputmode="text" placeholder="Enter Bank Name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="stacked">Routing Number:</ion-label>
            <ion-input inputmode="number" placeholder="Enter 9 digit route number" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="stacked">Account Number:</ion-label>
            <ion-input inputmode="number" placeholder="Enter 12 digit account number" ></ion-input>
          </ion-item>

        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button href="../connect-to-bank" size="large" expand="full" color="dark" (click)="sendData()" no-margin>Connect to Bank</ion-button>
</ion-content>
