<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700"> Rent & Car</ion-text>
        </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="goToHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-icon name="cash" slot="start"></ion-icon>
      <ion-card-subtitle>Pending</ion-card-subtitle>
      <ion-card-title>74.00$</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-subtitle>Progressive Car insurance</ion-card-subtitle>
      <ion-card-subtitle>4/7/2020</ion-card-subtitle>
    </ion-card-header>
   <!-- <ion-item button (click)="togglePopupMenu()" detail color="primary">
      <ion-icon name="apps" slot="start"></ion-icon>
      <ion-label>Assign Category</ion-label>
    </ion-item>-->
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-icon name="cash" slot="start"></ion-icon>
      <ion-card-subtitle>Posted</ion-card-subtitle>
      <ion-card-title>950.00$</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-subtitle>HappyHouse Inc.</ion-card-subtitle>
      <ion-card-subtitle>4/3/2020</ion-card-subtitle>
    </ion-card-header>
   <!-- <ion-item button (click)="togglePopupMenu()" detail color="primary">
      <ion-icon name="apps" slot="start"></ion-icon>
      <ion-label>Assign Category</ion-label>
    </ion-item>-->
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-icon name="cash" slot="start"></ion-icon>
      <ion-card-subtitle>Posted</ion-card-subtitle>
      <ion-card-title>20.55$</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-subtitle>Uber </ion-card-subtitle>
      <ion-card-subtitle>4/3/2020</ion-card-subtitle>
    </ion-card-header>
   <!-- <ion-item button (click)="togglePopupMenu()" detail color="primary">
      <ion-icon name="apps" slot="start"></ion-icon>
      <ion-label>Assign Category</ion-label>
    </ion-item>-->
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-icon name="cash" slot="start"></ion-icon>
      <ion-card-subtitle>Posted</ion-card-subtitle>
      <ion-card-title>60.45$</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-subtitle>Oil Change </ion-card-subtitle>
      <ion-card-subtitle>4/1/2020</ion-card-subtitle>
    </ion-card-header>
    <!--<ion-item button (click)="togglePopupMenu()" detail color="primary">
      <ion-icon name="apps" slot="start"></ion-icon>
      <ion-label>Assign Category</ion-label>
    </ion-item>-->
  </ion-card>

  <ion-button margin shape="round" expand="full" color="secondary" (click)="goBack()">
    Go Back
  </ion-button>
</ion-content>
  