<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">Groceries</ion-text>
        </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="goToHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon name="cash" slot="start"></ion-icon>
      <ion-card-subtitle>Posted</ion-card-subtitle>
      <ion-card-title>256.99$</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-subtitle>Walmart Inc.</ion-card-subtitle>
      <ion-card-subtitle>4/6/2020</ion-card-subtitle>
    </ion-card-header>
   <!-- <ion-item button (click)="togglePopupMenu()" detail color="primary">
      <ion-icon name="apps" slot="start"></ion-icon>
      <ion-label>Assign Category</ion-label>
    </ion-item>-->
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-icon name="cash" slot="start"></ion-icon>
      <ion-card-subtitle>Posted</ion-card-subtitle>
      <ion-card-title>145.10$</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-subtitle>Cotsco Shopping Inc.</ion-card-subtitle>
      <ion-card-subtitle>4/3/2020</ion-card-subtitle>
    </ion-card-header>
    <!--<ion-item button (click)="togglePopupMenu()" detail color="primary">
      <ion-icon name="apps" slot="start"></ion-icon>
      <ion-label>Assign Category</ion-label>
    </ion-item>-->
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-icon name="cash" slot="start"></ion-icon>
      <ion-card-subtitle>Posted</ion-card-subtitle>
      <ion-card-title>120.21$</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-subtitle>Sedano's Market</ion-card-subtitle>
      <ion-card-subtitle>4/2/2020</ion-card-subtitle>
    </ion-card-header>
    <!--<ion-item button (click)="togglePopupMenu()" detail color="primary">
      <ion-icon name="apps" slot="start"></ion-icon>
      <ion-label>Assign Category</ion-label>
    </ion-item>-->
  </ion-card>

  <ion-button margin shape="round" expand="full" color="secondary" (click)="goBack()">
    Go back
  </ion-button>
</ion-content>
  