<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">Fun</ion-text>
        </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="goToHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let p of appBucket" [color]="p.color" >
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-align-self-start" >
            <ion-card-subtitle class="fw700">Budget: $ {{p.budget}}</ion-card-subtitle>
          </ion-col>
          
          <ion-col class="ion-align-self-end">
            <ion-card-subtitle class="fw700">Expenses: $ {{p.amount}}</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-icon name="cash" slot="start"></ion-icon>
      <ion-card-subtitle>Pending</ion-card-subtitle>
      <ion-card-title>$65.00</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-subtitle>Kayaking Club Miami-Dade</ion-card-subtitle>
      <ion-card-subtitle>4/7/2020</ion-card-subtitle>
    </ion-card-header>
   <!-- <ion-item button (click)="togglePopupMenu()" detail color="primary">
      <ion-icon name="apps" slot="start"></ion-icon>
      <ion-label>Assign Category</ion-label>
    </ion-item>-->
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-icon name="cash" slot="start"></ion-icon>
      <ion-card-subtitle>Posted</ion-card-subtitle>
      <ion-card-title>$20.00</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-subtitle>Zumba Club Kendall</ion-card-subtitle>
      <ion-card-subtitle>4/4/2020</ion-card-subtitle>
    </ion-card-header>
    <!--<ion-item button (click)="togglePopupMenu()" detail color="primary">
      <ion-icon name="apps" slot="start"></ion-icon>
      <ion-label>Assign Category</ion-label>
    </ion-item>-->
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-icon name="cash" slot="start"></ion-icon>
      <ion-card-subtitle>Posted</ion-card-subtitle>
      <ion-card-title>$56.90</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-subtitle>AMC Movie Theaters Inc.</ion-card-subtitle>
      <ion-card-subtitle>4/2/2020</ion-card-subtitle>
    </ion-card-header>
    <!--<ion-item button (click)="togglePopupMenu()" detail color="primary">
      <ion-icon name="apps" slot="start"></ion-icon>
      <ion-label>Assign Category</ion-label>
    </ion-item>-->
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-icon name="cash" slot="start"></ion-icon>
      <ion-card-subtitle>Posted</ion-card-subtitle>
      <ion-card-title>$15.00</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-subtitle>AMC Movie Theaters Inc.</ion-card-subtitle>
      <ion-card-subtitle>4/2/2020</ion-card-subtitle>
    </ion-card-header>
    <!--<ion-item button (click)="togglePopupMenu()" detail color="primary">
      <ion-icon name="apps" slot="start"></ion-icon>
      <ion-label>Assign Category</ion-label>
    </ion-item>-->
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-icon name="cash" slot="start"></ion-icon>
      <ion-card-subtitle>Posted</ion-card-subtitle>
      <ion-card-title>$70.00</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-subtitle>Universal Orlando Volcano Bay</ion-card-subtitle>
      <ion-card-subtitle>4/1/2020</ion-card-subtitle>
    </ion-card-header>
    <!--<ion-item button (click)="togglePopupMenu()" detail color="primary">
      <ion-icon name="apps" slot="start"></ion-icon>
      <ion-label>Assign Category</ion-label>
    </ion-item>-->
  </ion-card>

  <ion-button margin shape="round" expand="full" color="secondary" (click)="goBack()">
    Go Back
  </ion-button>
</ion-content>
  