<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">About</ion-text>
        </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img src="assets/img/trackit_logo.png">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
        <ion-card-header>
          <ion-card-title color="primary">TrackIT</ion-card-title>
        </ion-card-header>
 
      <p margin-bottom>
        This is TrackIT, a new mobile banking app developed by Tasmia Aqila, Rocio Alves-Milho, and Kyra Ahrens. 
        Our high-level vision is that people use this budgeting app in an ongoing fashion for their daily 
        chores, categorize their daily transactions e.g. into groceries, rent, insurance, and fun expenses. 
        We want to increase the life quality of our customers by saving time and money on a daily basis.
      </p>
      <p>
        
      </p>
      <p>
        Be inspired by the ease of better managing your expenses, with just a couple of clicks and swipes!
      </p>
      
    </ion-card-content>
  </ion-card>

</ion-content>
