<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="goToHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card no-margin>
    <ion-card-content class="bg-profile">
      <img src="assets/img/avatar.png">
      <h1 class="fw500">Jane Doe</h1>
      <h2 color="light" margin-bottom>Customer</h2>
      <ion-button icon-left color="secondary">
        <ion-icon name="photos" slot="start"></ion-icon> 
        <ion-label>Edit / Add Avatar</ion-label>
      </ion-button>
    </ion-card-content>
  
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>

          <ion-list margin-bottom>
            <ion-list-header color="light">
              <ion-label class="fw700">Profile Information</ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label color="dark" position="stacked">Full Name:</ion-label>
              <ion-input inputmode="text" placeholder="Ex..: Joe Doe" value="Jane Doe"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">Email:</ion-label>
              <ion-input inputmode="email" placeholder="Ex.: joe@doe.com" value="janedoe@gmail.com"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">Address:</ion-label>
              <ion-input inputmode="text" placeholder="Ex.: Test Road 123"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">City:</ion-label>
              <ion-input inputmode="text" placeholder="Ex.: New York"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">State:</ion-label>
              <ion-input inputmode="text" placeholder="Ex.: NY"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">Country:</ion-label>
              <ion-input inputmode="text" placeholder="Ex.: United States"></ion-input>
            </ion-item>
  
          </ion-list>

          <ion-list>
            <ion-list-header color="light">
              <ion-label class="fw700">Change Password</ion-label>
            </ion-list-header>
          
            <ion-item>
              <ion-label color="dark" position="stacked">Enter Old Password:</ion-label>
              <ion-input inputmode="text" type="password"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">Enter New Password:</ion-label>
              <ion-input inputmode="text" type="password"></ion-input>
            </ion-item>
          
            <ion-item>
              <p ion-text color="dark" class="text08">
                <ion-text color="dark">
                  Use minimum 8 characters. <br />
                  Use at least 1 uppercase letter. <br />
                  Use at least 1 lowercase letter. <br />
                  Use at least 1 number
                </ion-text>

              </p>
            </ion-item>
            
            <ion-item>
              <ion-label color="dark" position="stacked">Confirm Password:</ion-label>               
              <ion-input inputmode="text" type="password"></ion-input>
            </ion-item>

          </ion-list>

          <ion-list>
            <ion-list-header color="light">
              <ion-label class="fw700">News & Updates</ion-label>
            </ion-list-header>

            <ion-item>
              For the future, I'd like to receive news and updates from TrackIT Inc. via email.
              <ion-checkbox slot="end"></ion-checkbox>
            </ion-item>
          </ion-list>
  
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-button size="large" expand="full" color="secondary" (click)="sendData()" no-margin>SAVE</ion-button>
  </ion-card>
  
 <!-- <div padding>

  </div>-->
</ion-content>
