<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">Expenditure Summary</ion-text>
        </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="goToHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content color="light">

  <ion-card shape="round" expand="full">
    <ion-item lines="none" class="bg-profile">
      <ion-avatar slot="start">
        <img src="assets/img/avatar.png" class="user-avatar">
      </ion-avatar>
      <ion-label>
        <ion-text color="light" padding>
          <h2>
            <strong>Welcome, Jane.</strong>
          </h2>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-card-header>
      <ion-card-subtitle>Your total expenses for this month:<br></ion-card-subtitle>
      <ion-card-title>3,027.39$</ion-card-title>
  </ion-card-header>
  </ion-card>



<ion-card *ngFor="let p of appBucket">
  <ion-item  [routerLink]="[p.url]"  class="ion-activated">
    <ion-icon [name]="p.icon" slot="start"></ion-icon>
    <ion-label>  {{p.title}}</ion-label>
    <ion-button fill="solid" color="success" slot="end" size="default">  {{p.amount}} $</ion-button>
  </ion-item>
</ion-card>
<!---
  <ion-card>
    <ion-item href="../rent-car" class="ion-activated">
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Rent + Car</ion-label>
      <ion-button fill="solid" color="success" slot="end" size="default">1105.00$</ion-button>
    </ion-item>
  
    <ion-item href="../insurance" class="ion-activated">
      <ion-icon name="folder" slot="start"></ion-icon>
      <ion-label>Insurance</ion-label>
      <ion-button fill="solid" color="success" slot="end" size="default">455.00$</ion-button>
    </ion-item>
  
    <ion-item href="../grocery" class="ion-activated">
      <ion-icon name="cart" slot="start"></ion-icon>
      <ion-label>Groceries</ion-label>
      <ion-button fill="solid" color="warning" slot="end" size="default">522.30$</ion-button>
    </ion-item>
  
    <ion-item href="../dog" class="ion-activated">
      <ion-icon name="paw" slot="start"></ion-icon>
      <ion-label>Pet</ion-label>
      <ion-button fill="solid" color="danger" slot="end" size="default">133.20$</ion-button>
    </ion-item>

    <ion-item href="../health" class="ion-activated">
      <ion-icon name="medkit" slot="start"></ion-icon>
      <ion-label>Health</ion-label>
      <ion-button fill="solid" color="danger" slot="end" size="default">495.00$</ion-button>
    </ion-item>

    <ion-item href="../fun" class="ion-activated">
      <ion-icon name="beer" slot="start"></ion-icon>
      <ion-label>Fun</ion-label>
      <ion-button fill="solid" color="warning" slot="end" size="default">226.90$</ion-button>
    </ion-item>

    <ion-item href="../other" class="ion-activated">
      <ion-icon name="apps" slot="start"></ion-icon>
      <ion-label>Other</ion-label>
      <ion-button fill="solid" color="success" slot="end" size="default">89.99$</ion-button>
    </ion-item>
  </ion-card>-->


  <ion-button  href="../save-bucket" margin shape="round" expand="full" color="secondary" >
    <ion-icon name="brush" slot="start"></ion-icon>
    <ion-label>Edit</ion-label>
  </ion-button>
  

</ion-content>
