<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">Expenditure Summary</ion-text>
        </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar [(ngModel)]="searchKey"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="light">

  <ion-card shape="round" expand="full">
    <ion-item  color="primary">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>Welcome, Jane</ion-label>
    </ion-item>

    <ion-card-header>
      <ion-card-subtitle>Current balance:<br></ion-card-subtitle>
      <ion-card-title>825.54$</ion-card-title>
  </ion-card-header>
  </ion-card>


  
 <!-- <ion-card text-center padding color="primary">
    <h2>Total Expense</h2>
    <h3>800.21 $</h3>
  </ion-card>-->

  <ion-card>
    <ion-item href="../rent-car" class="ion-activated">
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Rent + Car</ion-label>
      <ion-button fill="solid" color="success" slot="end" size="default">750.50$</ion-button>
    </ion-item>
  
    <ion-item href="../insurance" class="ion-activated">
      <ion-icon name="folder" slot="start"></ion-icon>
      <ion-label>Insurance</ion-label>
      <ion-button fill="solid" color="success" slot="end" size="default">455.00$</ion-button>
    </ion-item>
  
    <ion-item href="../grocery" class="ion-activated">
      <ion-icon name="cart" slot="start"></ion-icon>
      <ion-label>Groceries</ion-label>
      <ion-button fill="solid" color="warning" slot="end" size="default">510.99$</ion-button>
    </ion-item>
  
    <ion-item href="../dog" class="ion-activated">
      <ion-icon name="paw" slot="start"></ion-icon>
      <ion-label>Pet</ion-label>
      <ion-button fill="solid" color="success" slot="end" size="default">5.99$</ion-button>
    </ion-item>

    <ion-item href="../health" class="ion-activated">
      <ion-icon name="medkit" slot="start"></ion-icon>
      <ion-label>Health</ion-label>
      <ion-button fill="solid" color="danger" slot="end" size="default">834.55$</ion-button>
    </ion-item>

    <ion-item href="../fun" class="ion-activated">
      <ion-icon name="beer" slot="start"></ion-icon>
      <ion-label>Fun</ion-label>
      <ion-button fill="solid" color="danger" slot="end" size="default">324.10$</ion-button>
    </ion-item>

    <ion-item href="#" class="ion-activated">
      <ion-icon name="apps" slot="start"></ion-icon>
      <ion-label>Other</ion-label>
      <ion-button fill="solid" color="warning" slot="end" size="default">235.00$</ion-button>
    </ion-item>
  </ion-card>


  <ion-button margin shape="round" expand="full" color="secondary" (click)="goToHome()">
    Edit
  </ion-button>
  

</ion-content>
