<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <ion-text color="light"> 
        <ion-text color="light" class=fw700>Reminders</ion-text>
      </ion-text>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="goToHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>



<ion-content padding class="profile">
  
    <ion-card>
        <ion-card-header>
            <ion-icon name="cash" slot="start"></ion-icon>
            <ion-card-subtitle>3/30/2020</ion-card-subtitle>
            <ion-card-title >$40</ion-card-title>
            <ion-card-subtitle>Pay to landscape</ion-card-subtitle>
            <ion-card-subtitle>Reminder Date: 05/05/2020</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
    <ion-card>
       <ion-card-header>
            <ion-icon name="cash" slot="start"></ion-icon>
            <ion-card-subtitle>3/30/2020</ion-card-subtitle>
            <ion-card-title >$200</ion-card-title>
            <ion-card-subtitle>Pay for home mortgage</ion-card-subtitle>
            <ion-card-subtitle>Reminder Date: 05/20/2020 </ion-card-subtitle>
       </ion-card-header>
    </ion-card>
  <!--</ion-card>-->
  
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>

          <ion-list margin-bottom>
           <!-- <ion-list-header color="light">-->
              <ion-item  class="ion-text-center" detail="false" color="light">
                <ion-label clas="fw500">
                Set New Reminder
                </ion-label>
              </ion-item>
           <!-- </ion-list-header>-->


            <ion-item>
              <ion-label color="dark" position="stacked">Enter Description:</ion-label>
              <ion-input inputmode="text" ></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">Amount:</ion-label>
              <ion-input inputmode="email" placeholder="$"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">Date:</ion-label>
              <ion-datetime displayFormat="MMMM DD YY" placeholder="Select Date" min="2020" max="2021"></ion-datetime>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">Category: (optional)</ion-label>
              <ion-input inputmode="text" ></ion-input>
            </ion-item>

          </ion-list>
  
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-button size="large" expand="full" color="secondary" (click)="sendData()" no-margin>Save</ion-button>
  <!--</ion-card>-->
  
  <div padding>

  </div>
</ion-content>
