<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">Home</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card shape="round" expand="full">
    <ion-item lines="none" class="bg-profile">
      <ion-avatar slot="start">
        <img src="assets/img/avatar.png" class="user-avatar">
      </ion-avatar>
      <ion-label>
        <ion-text color="light" padding>
          <h2>
            <strong>Welcome, Jane.</strong>
          </h2>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-card-header>
      <ion-card-subtitle>Total Balance (all accounts):<br></ion-card-subtitle>
      <ion-card-title>2,101.99$</ion-card-title>
  </ion-card-header>
  </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-icon name="cash" slot="start"></ion-icon>
        <ion-card-subtitle>Chase Bank (**1234)</ion-card-subtitle>
        <ion-card-title>1,355.94$</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-subtitle>Available balance</ion-card-subtitle>
      </ion-card-header>
      <ion-item href="../home-results" class="ion-activated" color="primary">
        <ion-icon name="swap" slot="start"></ion-icon>
        <ion-label>Recent Transactions</ion-label>
      </ion-item>
      <ion-item href="../summary" class="ion-activated" color="primary">
        <ion-icon name="wallet" slot="start"></ion-icon>
        <ion-label>Expenditure Summary</ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-icon name="cash" slot="start"></ion-icon>
        <ion-card-subtitle>Chase Freedom Credit Card (**9876)</ion-card-subtitle>
        <ion-card-title>113.05$</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-subtitle>Available balance</ion-card-subtitle>
      </ion-card-header>
      <ion-item href="../home-results" class="ion-activated" color="primary">
        <ion-icon name="swap" slot="start"></ion-icon>
        <ion-label>Recent Transactions</ion-label>
      </ion-item>
      <ion-item href="../summary" class="ion-activated" color="primary">
        <ion-icon name="wallet" slot="start"></ion-icon>
        <ion-label>Expenditure Summary</ion-label>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-icon name="cash" slot="start"></ion-icon>
        <ion-card-subtitle>Wells Fargo (**4567)</ion-card-subtitle>
        <ion-card-title>633.00$</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-subtitle>Available balance</ion-card-subtitle>
      </ion-card-header>
      <ion-item href="../home-results" class="ion-activated" color="primary">
        <ion-icon name="swap" slot="start"></ion-icon>
        <ion-label>Recent Transactions</ion-label>
      </ion-item>
      <ion-item href="../summary" class="ion-activated" color="primary">
        <ion-icon name="wallet" slot="start"></ion-icon>
        <ion-label>Expenditure Summary</ion-label>
      </ion-item>
    </ion-card>


</ion-content>
<!--<popmenu></popmenu>-->
  